In [76]:
import pandas as pd

In [28]:
#read in all raw data files

In [43]:
icd9_columns = ['RUID', 'event_date', 'icd9_code']

In [102]:
group_file = pd.read_csv('CUTTING_DD_20160318.csv',low_memory=False)
key_fields_file = pd.read_csv('Cutting_DDv2.csv')
icd9_file = pd.read_csv('CUTTING_ICD9_20160318.csv', names = icd9_columns)
control_matching_file = pd.read_csv('CUTTING_CONTROL_MATCHING_20160318.csv')

In [ ]:
#dedup group file

True

In [101]:
group_file.drop_duplicates(subset=['RUID'], keep=False)

,RUID,SEX,RACE,DOB,DOD,Death_status,AFF_STATUS,Zip,Case_type
0,54354486,2,1,07/22/1913,06/02/2012,1,1,370,NaN
1,54354493,1,1,03/08/1988,NaN,0,1,371,NaN
2,54354505,1,1,09/27/1940,01/01/2004,1,1,370,NaN
3,54354510,1,1,02/10/1935,NaN,0,1,000,NaN
4,54354523,1,7,04/08/2002,NaN,0,1,484,NaN
5,54354527,1,1,09/12/1933,12/20/2006,1,1,370,NaN
6,54354528,2,2,01/10/1955,09/05/2009,1,1,370,NaN
7,54354531,2,1,04/09/1991,NaN,0,1,376,NaN
8,54354539,2,1,10/12/1936,NaN,0,1,423,NaN
9,54354540,1,1,02/21/1958,11/14/2010,1,1,370,NaN
10,54354548,2,7,09/04/1951,NaN,0,1,377,NaN
11,54354549,2,7,01/24/1959,03/13/2006,1,1,370,NaN
12,54354564,2,1,04/20/2001,NaN,0,1,424,NaN
13,54354565,2,1,08/15/1925,10/28/2013,1,1,370,NaN
14,54354566,1,1,05/11/1953,08/04/2010,1,1,629,NaN
15,54354570,1,1,02/11/1998,NaN,0,1,385,NaN
16,54354575,1,7,04/17/1994,NaN,0,1,152,NaN
17,54354585,1,1,12/15/1937,11/28/2009,1,1,379,NaN
18,54354590,2,7,09/23/1984,NaN,0,1,372,NaN
19,54354591,1,1,06/06/1992,NaN,0,1,770,NaN
20,54354592,2,1,06/30/1935,03/11/2011,1,1,371,NaN
21,54354608,2,1,10/31/1917,NaN,0,1,383,NaN
22,54354613,2,1,11/06/1934,02/09/1999,1,1,371,NaN
23,54354629,1,1,04/06/1971,NaN,0,1,356,NaN
24,54354637,2,7,01/31/1925,11/08/2004,1,1,370,NaN
25,54354642,2,1,07/13/1975,NaN,0,1,378,NaN
26,54354660,1,7,02/11/2003,NaN,0,1,372,NaN
27,54354676,2,7,09/03/1997,NaN,0,1,373,NaN
28,54354683,2,1,11/29/1989,NaN,0,1,385,NaN
29,54354718,1,1,08/18/2002,NaN,0,1,371,NaN
...,...,...,...,...,...,...,...,...,...
225464,54992209,2,1,06/17/1989,NaN,0,2,370,NaN
225465,54992210,1,2,07/10/2000,NaN,0,2,370,NaN
225466,54992211,1,1,02/22/2005,NaN,0,2,420,NaN
225467,54992212,2,1,02/14/1996,NaN,0,2,372,NaN
225468,54992213,1,7,08/23/1987,NaN,0,2,370,NaN
225469,54992214,1,5,06/22/1981,NaN,0,2,374,NaN
225470,54992215,1,1,06/22/2005,07/04/2007,1,2,370,NaN
225471,54992216,2,2,04/05/1992,NaN,0,2,370,NaN
225472,54992217,1,1,06/15/1996,NaN,0,2,383,NaN
225473,54992218,1,7,10/30/1998,NaN,0,2,371,NaN
225474,54992219,2,1,10/06/2004,NaN,0,2,378,NaN
225475,54992220,2,1,09/17/1999,NaN,0,2,370,NaN
225476,54992221,1,1,02/02/1946,01/05/2011,1,2,371,NaN
225477,54992222,1,1,12/12/1962,NaN,0,2,372,NaN
225478,54992223,2,1,04/30/1972,NaN,0,2,370,NaN
225479,54992224,1,1,07/31/1982,NaN,0,2,371,NaN
225480,54992225,1,1,01/13/2011,NaN,0,2,NaN,NaN
225481,54992226,2,1,01/12/1987,NaN,0,2,372,NaN
225482,54992227,2,2,07/29/2005,NaN,0,2,372,NaN
225483,54992228,1,2,12/03/1983,NaN,0,2,372,NaN
225484,54992229,2,1,06/06/2011,NaN,0,2,425,NaN
225485,54992230,1,4,01/28/1996,NaN,0,2,372,NaN
225486,54992231,1,1,02/24/1994,NaN,0,2,370,NaN
225487,54992232,2,1,12/04/2003,NaN,0,2,357,NaN
225488,54992233,1,1,07/11/2012,NaN,0,2,371,NaN
225489,54992234,1,1,07/23/2003,NaN,0,2,NaN,NaN
225490,54992235,1,2,09/29/1995,NaN,0,2,371,NaN
225491,54992236,1,1,05/14/2011,NaN,0,2,382,NaN
225492,54992237,1,2,05/30/1995,NaN,0,2,373,NaN
225493,54992238,1,1,06/06/1960,NaN,0,2,362,NaN

In [5]:
#create a list of icd9 codes to keep

In [89]:
icd9_codes = [299, 299.0, 299.00, 299.1, 299.01, 299.8, 299.9, 299.10, 299.11, 299.80, 299.81, 299.90, 299.91]
icd9_codes_str = ['299', '299.0', '299.00', '299.1', '299.01', '299.8', '299.9', '299.10', '299.11', '299.80', '299.81', '299.90', '299.91']

In [10]:
#filter CUTTING_DD_20160318.csv to only keep records where case_type = icd9_codes

In [90]:
group_file_filtered = group_file[group_file['Case_type'].isin(icd9_codes)]

In [72]:
any(group_file_filtered['RUID'] == 54482073)
group_file_filtered[group_file_filtered['RUID']==54482073]

,RUID,SEX,RACE,DOB,DOD,Death_status,AFF_STATUS,Zip,Case_type
61900,54482073,1,1,08/29/2005,NaN,0,0,421,299.0

In [ ]:
#filter CUTTING_ICD9_20160318.csv file for icd9_codes

In [91]:
icd9_file_filtered = icd9_file[icd9_file['icd9_code'].isin(icd9_codes_str)]

In [ ]:
#create a list of all case ids

In [92]:
case_ids = group_file_filtered['RUID']

In [ ]:
#filter control matching file based on the case ids

In [93]:
control_matching_file = control_matching_file[control_matching_file['RUID'].isin(case_ids)]

In [70]:
control_matching_file[control_matching_file['Control2'] == 54449235]

           RUID  Control1    Control2
32876  54482073  54817997  54449235.0

In [59]:
control_matching_file

           RUID  Control1    Control2
42     54449239  54373084  54520448.0
48     54449245  54842487  54451061.0
160    54449357  54845323  54985895.0
169    54449366  54814035  54974315.0
195    54449392  54870530  54495525.0
210    54449407  54840966  54989216.0
259    54449456  54872906  54462542.0
262    54449459  54837370  54497971.0
268    54449465  54820571  54507369.0
292    54449489  54360024  54969827.0
300    54449497  54874581  54988525.0
305    54449502  54813170  54481045.0
376    54449573  54827918  54501187.0
452    54449649  54856930  54485882.0
456    54449653  54876011  54472506.0
479    54449676  54873998  54982267.0
533    54449730  54862448  54475934.0
543    54449740  54849428  54979574.0
570    54449767  54403956  54991057.0
604    54449801  54370291  54520860.0
632    54449829  54820509  54971192.0
687    54449884  54844543  54984390.0
742    54449939  54868097  54978122.0
745    54449942  54836407  54975871.0
747    54449944  54824128  54492321.0
752    54449949  54862599  54485655.0
835    54450032  54426471  54521497.0
856    54450053  54849625  54449289.0
868    54450065  54396208  54976763.0
899    54450096  54370677  54510742.0
...         ...       ...         ...
74553  54523750  54869007  54963323.0
74657  54523854  54816628  54963920.0
74709  54523906  54850357  54476111.0
74715  54523912  54825537  54989269.0
74721  54523918  54817147  54489228.0
74790  54523987  54815758  54465578.0
74847  54524044  54376916  54495828.0
74857  54524054  54866524  54517989.0
74874  54524071  54354801  54984685.0
74905  54524102  54824761  54989081.0
74910  54524107  54420457  54499689.0
74939  54524136  54816680  54980143.0
74942  54524139  54839982  54484810.0
75034  54524231  54878402  54978678.0
75070  54524267  54872396  54469221.0
75129  54524326  54844782  54964818.0
75174  54524371  54835530  54983106.0
75180  54524377  54819892  54978321.0
75274  54524471  54408046  54978071.0
75275  54524472  54859597  54483562.0
75279  54524476  54842927  54459497.0
75335  54524532  54838860  54505431.0
75366  54524563  54843743  54472016.0
75373  54524570  54830695  54973349.0
75396  54524593  54855559  54464616.0
75408  54524605  54385425  54478572.0
75434  54524631  54818507  54465357.0
75458  54524655  54405777  54456177.0
75500  54524697  54870631  54973350.0
75513  54524710  54865253  54453394.0

[3097 rows x 3 columns]

In [241]:
#create one list called all_ids that contains the case ids, control1 and control2 IDs

In [94]:
control1 = control_matching_file['Control1']
control2 = control_matching_file['Control2']
all_ids = control1.append(control2)
all_ids = all_ids.append(case_ids)
all_ids = all_ids.astype(int)

In [ ]:
#create final group file of rows with all_ids list

In [95]:
group_file_final = group_file[group_file['RUID'].isin(all_ids)]

In [ ]:
#create final icd9 file of rows with all_ids list

In [96]:
icd9_file_final = icd9_file[icd9_file['RUID'].isin(all_ids)]

In [268]:
#write to csv

In [97]:
group_file_final.to_csv('group_out.csv')

In [98]:
icd9_file_final.to_csv('icd9_out.csv')

In [1]:
#row counts

In [100]:
group_file_final.count()

RUID            12516
SEX             12516
RACE            12516
DOB             12516
DOD               280
Death_status    12516
AFF_STATUS      12516
Zip             11828
Case_type        4674
dtype: int64